body {
  background-color: lightgray;
}

.h1-title {
  text-align: center;
  color: white;
}
.background-header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #23A455;
}
.text-h1 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}