body {
  background-color: lightgray;
}

.h4-title {
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.background-header {
  position: fixed;
  flex: 1;
  top: 0;
  right: 0;
  left: 0;
  background-color: #23a455;
}

.text-h6 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  color: darkgreen;
}

.img-center {
  max-width: 100%;
  height: auto;
}
