body {
  background-color: lightgray;
}

.h4-title {
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.background-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #23a455;
}

.text-h6 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin-left: 25px;
  text-align: center;
  color: darkgreen;
}
